:root {
    /* Base colors */
    --black: rgba(30, 30, 30, 1);
    --background: rgb(255, 191, 0);
    --white: rgba(255, 255, 255, 1);
    --color-border: rgba(235, 235, 235, 1);
    /* --color-border: rgba(135, 135, 135, 1); */


    /* Font families */
    --font-family: "Berkeley Mono Trial",  Helvetica, Arial, sans-serif;

    /* Font sizes */
    --font-size: 14px;
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: var(--color-secondary);
    /* scroll-behavior: smooth; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *::selection {
    background: var(--grey);
  }



 body {
    margin: 0;
    padding: 20px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--black);
    background-color: var(--white);
    overscroll-behavior-y: none;
  }
